pre {
	font-family: "Rye", serif;
	font-size: 50px;
}

body {
	background-color: black;
	font-size: 30px;
    font-family: "Rye", serif;
}

:root {
			--color1:#DC136C;
			--color2:#8FF7A7;
			--color3:#E6AF2E;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}
a:hover {
	color: #666666;
}
